.App {
  text-align: center;
}

.bg-pic {
  width: 80vw;
  margin-left: 10%;
  filter: blur(8px);
  height: 100vh;
  background-size: 150% auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  position: absolute;
  z-index: -1;
  border: 1px solid #ccc;
}
